body{
    background-color: #ffffff;
    font-family:Arial, Helvetica, sans-serif;
    color: #0487d9;
}

a {
    text-decoration: none;
    font-weight: bold;
}
a:hover{
    text-decoration: underline;
}
#heading{
    font-size: 20px;
    text-align: center;
    padding: 15px;
    color: #0487d9;
}

.splitdiv{
    width: 1000px;
    height:400px;
    margin: auto;
    justify-content: center;
    display: flex;
    border-radius: 20px;
    box-shadow: 0px 0px 30px 5px gainsboro;
}

.leftsplit{
    width: 500px;
    float: left;
    background-image: url("https://img.freepik.com/free-vector/quiz-time-logo-with-speech-bubble-symbols-concept-questionnaire-show-sing-quiz-time-button-question-competition_100456-1285.jpg?size=626&ext=jpg");
    background-repeat: no-repeat; 
    background-size: 500px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-left: 30px;
}

.leftsplit > h2{
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: #0487d9; 
}

.rightsplit{
    background-color: #a0e3f2;
    width: 500px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.form-login{
    width: 300px;
    padding: 30px 30px 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-group{
    border: 1px solid #0487d9;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    padding-left: 15px;
}

.form-input{
    background: transparent;
    height: 40px;
    border:0;
    color: #0487d9;
    font-size: 18px;
    flex-grow: 1;
}

.form-input::placeholder{
    color:#ffffff;
}

.form-submit{
    background-color: #0487d9;
    font-size: 18px;
    width: 130px;
    height: 40px;
    border:0;
    border-radius: 10px;
    color:#ffffff;
    cursor: pointer;
}
.form-submit:hover{
    font-weight: bold;
}
.btn-group{
    height: 40px;
    align-items: center;
    line-height: 40px;
    margin-top: 20px;
}