/* .start_box body {
    background-color: #ffffff;
    font-family: 'Poppins', sans-serif;
    color: #0487d9;
    font-size: 18px;
} */

.start_box header {
    top:0;
    left: 0;
    right: 0;
	position: fixed;
	z-index: 2;
	height: 70px;
	padding: 0 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.1);
    font-size: 24px;
}

.start_box section {
    margin-top: 70px;
    display: flex;
    height: 100vh;
}

.start_box section .entry-button {
    padding: 20px 20px 30px 10px;
    position: fixed;
    width: 200vh;
    height: 55px;
    margin: 0px 30px 0px 30px;
    justify-content: space-between;
    display: flex;
    left: 0;
    right: 0;
}

.start_box section .entry-button-left{
	height: 100%;
    align-items: center;
}

.start_box section .entry-button-right{
    height: 100%;
    display: flex;
    align-items: center;
}

.start_box section .btn-general {
    margin: 0px 10px 0px 10px;
    background-color: #0487d9;
    border: 0;
    border-radius: 5px;
    box-shadow: 2px 2px 4px 0px #84c5fe;
    font-family:Arial, Helvetica, sans-serif;
    color: #ffffff;
    cursor: pointer;
}

.start_box section .btn-big {
    font-size: 18px;
    height: 40px;
    width: 80px;
}

.start_box section .btn-small{
    height: 35px;
    width: 40px;
}

.start_box section .entry-players{
    position: fixed;
    width: 100%;
    margin-top: 100px;
    padding: 20px 10px 20px 10px;
    display: flex;
    justify-content: center;
}

.start_box section .player-name{
    margin: 0px 10px 15px 10px;
    padding: 8px 8px 8px 8px;
    height: fit-content;
    width: fit-content;
    background-color: #0487d9;
    border-radius: 5px;
    color: #ffffff;
}