/* importing google fonts */
@import
	url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap')
	;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

.quiz_box {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 100vh; 
	/*  ni la bang chieu cao man hinh nha */
	background: #fff;
}

.quiz_box header {
	position: absolute;
	width: 100%;
	top: 0;
	z-index: 2;
	height: 70px;
	padding: 0 30px;
	background: #fff;
	border-radius: 5px 5px 0 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.1);
}

.quiz_box header .total_ques span {
	display: flex;
	user-select: none;
}

.quiz_box header .total_ques span p {
	font-weight: 500;
	padding: 0 5px;
}

.quiz_box header .total_ques span p:first-child {
	padding-left: 0px;
}

.quiz_box header .title {
	font-size: 20px;
	font-weight: 600;
}

.quiz_box header .timer {
	color: #004085;
	background: #cce5ff;
	border: 1px solid #b8daff;
	height: 45px;
	padding: 0 8px;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 145px;
}

.quiz_box header .timer .timer_sec {
	font-size: 18px;
	font-weight: 500;
	height: 30px;
	width: 45px;
	color: #fff;
	border-radius: 5px;
	line-height: 30px;
	text-align: center;
	background: #343a40;
	border: 1px solid #343a40;
	user-select: none;
}

.quiz_box section {
	padding: 25px 30px 20px 30px;
	background: #fff;
}

.quiz_box section .que_text {
	font-size: 25px;
	font-weight: 600;
}

.quiz_box section .option_list {
	padding: 20px 0px;
	display: block;
}

.quiz_box section .option_list .option {
	background: aliceblue;
	border: 1px solid #84c5fe;
	border-radius: 5px;
	padding: 8px 15px;
	font-size: 17px;
	margin-bottom: 15px;
	cursor: pointer;
	transition: all 0.3s ease;
	display: flex;
	align-items: center;
}

.quiz_box section .option_list .option:last-child {
	margin-bottom: 0px;
}

.quiz_box section .option_list .option:hover {
	color: #004085;
	background: #cce5ff;
	border: 1px solid #b8daff;
}
.quiz_box section .option_list .option .option-text {
    width: 95%;
    text-align: left;
}
.quiz_box section .option_list .option.correct {
	color: #155724;
	background: #d4edda;
	border: 1px solid #c3e6cb;
}

.quiz_box section .option_list .option.disabled {
	pointer-events: none;
}
.quiz_box section .option_list .option.disabled-selected {
	pointer-events: none;
	opacity: 0.5;
}
.quiz_box section .option_list .option .icon {
	height: 26px;
	width: 26px;
	border: 2px solid transparent;
	border-radius: 50%;
	text-align: center;
	font-size: 13px;
	pointer-events: none;
	transition: all 0.3s ease;
	line-height: 24px;
}
.quiz_box section .option_list .option .icon.anwsers{
	width: 40px;
	font-size: 20px;
	color: #007bff;
	border-right: 1px solid #84c5fe;
	margin-right: 20px;
	border-radius: 0;
	padding-right: 20px;
}
.quiz_box section .option_list .option .icon.tick {
	color: #23903c;
	border-color: #23903c;
	background: #d4edda;
}

.hidden {
	display: none;
}

.quiz_box section .result {
	margin: 10px auto;
	height: 30vh;
	/*  ni la t thay co co do, nghi cai doan cau hoi co the dai hon, thi du set lai nho chut, nhung da so thi z */
	width: 50%;
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
	/* background-color: palegreen; */
}
/*.quiz_box section .result_item {
	width: calc(25% - 10px);
	background-color: #84d8d3;
	border-radius: 5px;
}*/
.quiz_box section .result_item{
	/*height: 100%;*/
	width: calc(25% - 10px);
	border-radius: 5px;
	display: flex;
	align-items: flex-end;
	text-align:center; 
	background-color: #007bff;
}
.quiz_box section .result-icons{
	margin: 5px auto;
	width: 50%;
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
	height: 30px;
	text-align: center;
}
.quiz_box section .result-text{
	width: calc(25% - 10px);
	color:rgb(253, 152, 0);
	font-size: 20px;
}