body {
	background-color: #c9eff8;
	font-family: Arial, Helvetica, sans-serif;
	color: #0487d9;
}

header {
	background-color: #ffffff;
	height: 55px;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 0px;
	display: flex;
	box-shadow: #dfdfdf 0px 2px 4px 0px;
	justify-content: space-between;
}

.logo-container {

	justify-content: flex-start;
}

.group-button {
	display: flex;
	align-items: center;
}
.btn-general{
	font-size: 16px;
	width: 75px;
	height: 40px;
	cursor: pointer;
	margin: 0 10px 0 10px;
	border-radius: 7px;
}
.btn-important {
	background-color: #0487d9;
	color: #ffffff;	
	border: 0;
	box-shadow: 2px 2px 2px #a0e3f2;
}

.btn-other {
	background-color: #ffffff;
	color: #000000;
	border: solid 1px #000000;
}

.quiz-main {
	background-color: #ffffff;
	height: 100%;
	position: fixed;
	left: 0px;
	width: 250px;
	top: 57px;
	display: flex;
	flex-direction: column;
	box-shadow: #dfdfdf 2px 2px 4px;
}

.quiz-info {
	/*width: 220px;*/
	margin: 20px 15px 20px 15px;
	justify-content: center;
	align-items: center;
}

.quiz-btn {
	background-color: #0487d9;
	font-size: 16px;
	color: #ffffff;
	width: 220px;
	height: 40px;
	border: 0;
	border-radius: 7px;
	box-shadow: 2px 2px 2px #a0e3f2;
	cursor: pointer;
}
.overlay {
	background: rgba(0, 0, 0, 0.8);       
    opacity: 0.8;       
    filter: alpha(opacity=80);       
    position: absolute;        
    top: 0px;        
    bottom: 0px;       
    left: 0px;       
    right: 0px;      
    z-index: 100;       
}
/* Popup */
.edit-form {
	background-color: #ffffff;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 101;
	width: 500px;
	height: 350px;
	margin: auto;
    border: solid 3px #04d9d9; 
	border-radius: 20px; 
}

@media ( max-width : 768px) {
	.edit-form {
		width: 90%;
		margin: auto 5%;
	}
}

.edit-form .form-inner {
	padding: 20px;
}

h1{
    font-size: 24px;
    text-align: center;
}
.form-input{
    background: transparent;
    width: 90%;
    height: 35px;
    border: solid 1px #0ce9e9;
    border-radius: 10px;
    color: #0487d9;
    font-size: 18px;
    flex-grow: 1;
    margin: auto;
}

.form-input::placeholder{
    color:#a0e3f2;
}

.question-show{
    background-color: #ffffff;
    width: 800px;
    height: 200px;
    position: relative;
    margin-top: 80px;
    margin-left: 400px;
    box-shadow: 2px 2px 2px #dfdfdf;
}
.question-header{
    height: 50px;
    background-color: #04d9d9;
    display: flex;
	justify-content: space-between;
}
.question-header-text{
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    font-weight: bold;
    padding-left: 20px;
}

.ques-form{
	background-color: #ffffff;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 101;
	width: 700px;
	height: 500px;
	margin: auto;
	padding: auto;
    border: solid 3px #04d9d9; 
	border-radius: 20px;
	justify-content: center;
}

.select-box{
	border: 1px solid #04d9d9;
	border-radius: 5px;
	cursor: pointer;
	font-family: Arial, Helvetica, sans-serif;
	color: #0487d9;
	font-size: 16px;
	padding: 5px 10px 5px 10px;
}