<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >
<web-app>
	<welcome-file-list>
	<welcome-file>index</welcome-file>
	</welcome-file-list>
	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<servlet-name>LoginController</servlet-name>
		<display-name>LoginController</display-name>
		<description></description>
		<servlet-class>Controller.LoginController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LogoutController</servlet-name>
		<display-name>LogoutController</display-name>
		<description></description>
		<servlet-class>Controller.LogoutController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SignUpController</servlet-name>
		<display-name>SignUpController</display-name>
		<description></description>
		<servlet-class>Controller.SignUpController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GameController</servlet-name>
		<display-name>GameController</display-name>
		<description></description>
		<servlet-class>Controller.GameController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>HomeController</servlet-name>
		<display-name>HomeController</display-name>
		<description></description>
		<servlet-class>Controller.HomeController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddQuizController</servlet-name>
		<display-name>AddQuizController</display-name>
		<description></description>
		<servlet-class>Controller.AddQuizController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddQuestionController</servlet-name>
		<display-name>AddQuestionController</display-name>
		<description></description>
		<servlet-class>Controller.AddQuestionController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateQuizController</servlet-name>
		<display-name>UpdateQuizController</display-name>
		<description></description>
		<servlet-class>Controller.UpdateQuizController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DelQuizController</servlet-name>
		<display-name>DelQuizController</display-name>
		<description></description>
		<servlet-class>Controller.DelQuizController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateQuesController</servlet-name>
		<display-name>UpdateQuesController</display-name>
		<description></description>
		<servlet-class>Controller.UpdateQuesController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DelQuesController</servlet-name>
		<display-name>DelQuesController</display-name>
		<description></description>
		<servlet-class>Controller.DelQuesController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>LoginController</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginController</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogoutController</servlet-name>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SignUpController</servlet-name>
		<url-pattern>/SignUp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GameController</servlet-name>
		<url-pattern>/PlayGame</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>HomeController</servlet-name>
		<url-pattern>/Home</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>HomeController</servlet-name>
		<url-pattern>/index</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddQuestionController</servlet-name>
		<url-pattern>/AddQuestion</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateQuizController</servlet-name>
		<url-pattern>/UpdateQuiz</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DelQuizController</servlet-name>
		<url-pattern>/DeleteQuiz</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateQuesController</servlet-name>
		<url-pattern>/UpdateQuestion</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DelQuesController</servlet-name>
		<url-pattern>/DeleteQuestion</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddQuizController</servlet-name>
		<url-pattern>/AddQuiz</url-pattern>
	</servlet-mapping>
</web-app>
